* {
  /* border: 1px grey solid; */
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  background-image: url("../images/courtroom.jpg");
  background-position: top;
}
#header {
  background-color: grey;
  border-style: double;
}
.headshot img {
  border-radius: 50%;
  width: 100rem;
  border: 2px solid black;
}
.about h3 {
  background-color: lightgray;
}

table {
  border-style: double;
  border-color: white;
}
thead {
  background: grey;
  opacity: 0.95;
}
tbody {
  background: lightgrey;
  opacity: 0.99;
}
