* {
  /* border: 1px grey solid; */
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
form {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  background-image: url("../images/courtroom.jpg");
  background-position: top;
}
#header {
  background-color: grey;
  border-style: double;
}
.headshot img {
  border-radius: 50%;
  width: 100rem;
  border: 2px solid black;
}
.card {
  background-color: lightgray;
  opacity: 0.9;
  border: 1px solid black;
}
img:hover {
  cursor: pointer;
  border: 2px solid white;
}
table {
  border-style: double;
  border-color: white;
}
thead {
  background: grey;
  opacity: 0.95;
}
tbody,
#form {
  background: lightgrey;
  opacity: 0.96;
}
tr {
  border: 1px solid black;
}
.anchor {
  text-decoration: none;
  color: black;
  padding: 5px;
  border-radius: 10px;
}
.anchor:hover {
  color: white;
  background-color: darkslategrey;
}
.card,
#form,
#header {
  box-shadow: 8px 8px 12px 1px #252525;
}
#form {
  margin-top: 10rem;
}

#custom_alert {
  display: none;
  width: 300px;
  position: absolute;
  top: 15rem;
  right: 44rem;
  border-radius: 10px;
  border: 3px solid gold;
  padding: 10px;
  color: white;
  background-color: rgb(40, 48, 48);
}
